
.startContainer {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;

  scroll-snap-align: start;
}
.homeContainer {
  height: 90vh;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.welcomeTittle {
  margin-top: 25px;
}
.nameContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
}
.tittleName {
  font-size: 4rem;
  text-transform: uppercase;
  color: var(--mainColor);
  line-height: 3rem;
  text-align: center;
  margin: 0;
  cursor: default;
}
.descName {
  text-align: end;
  margin: 0;
}
.descriptionContainer {
  display: flex;
  justify-content: space-between;
}
.descriptionContainer .description {
  width: 250px;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--mainColor);
}
.socialContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.socialItem {
  display: flex;
  align-items: center;
  margin: 0;

  transition: all 0.5s;
}
.midiaName {
  display: block;
  margin: 0;
  font-size: 1rem;
  color: var(--tittleColor);
  font-weight: 300;
  opacity: 0;
  transition: all 0.5s;
}
.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  color: var(--backgroundColor);
  background-color: var(--mainColor);

  transition: all 0.5s;
}
@media (hover: hover) {
  .socialItem:hover {
    transition: all 0.5s;
  }
  .socialItem:hover .midiaName {
    opacity: 1;
    transform: translateX(10px) !important;
  }
  .socialItem:hover .socialLink {
    background-color: var(--tittleColor);
    transition: all 0.2s;
  }
}
@media screen and (max-width: 768px) {
  .tittleName {
    font-size: 3rem;
    line-height: 2.2rem;
  }
}
