.projectsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.projectsRepos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projectsRepos a {
  font-size: 1rem;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.5s;
}
.repositorios {
  height: 250px;
  display: flex;
  justify-content: space-between;
}
.perfil,
.reposItems {
  background-color: var(--mainColor);
  width: 24%;
  border-radius: 15px;
  color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.perfil .githubProfile {
  margin: 10px auto;
  position: relative;
}
.perfil .githubProfile img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: var(--backgroundColor) 2px solid;
}
.perfil .githubProfile i {
  opacity: 0;
  position: absolute;
  translate: -50% -50%;
  left: 50%;
  top: 50%;
  transition: all 0.5s;
}
.nickname {
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 0;
}
.nicknameID {
  margin: 0 auto;
  font-size: 0.8rem;
}
.infoAccount {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.repositoriosnum,
.followersnum {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0;
}
.numRepositorios,
.numFollowers {
  font-weight: 900;
  margin-top: 5px;
}
.reposItems {
  position: relative;
  background-color: var(--backgroundContainerColor);
}
.reposItems a {
  color: var(--backgroundContainerColor);
}
.projectOpen {
  background-color: var(--mainColor);
  position: absolute;
  inset: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  box-sizing: border-box;

  color: var(--backgroundContainerColor);

  transition: all 0.5s;
}
.projectOpen i {
  font-size: 100px;
  transition: all 0.5s;
}
.projectNameDate {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: end;
}
.projectNameDate .projectName,
.projectDate {
  font-size: 1rem;
  margin: 0;
  transition: all 0.5s;
}
.projectDescription,
.projectLinguagens {
  display: none;

  transition: all 0.5s;
}
@media (hover: hover) {
  .reposItems:hover .projectOpen {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 50%;

    transition: all 0.5s;
  }
  .perfil .githubProfile:hover i {
    transition: all 0.5s;
    opacity: 1;
    color: var(--backgroundColor);
    font-size: 2rem;
  }
  .reposItems:hover .projectOpen i {
    font-size: 50px;

    transition: all 0.5s;
  }
  .reposItems:hover .projectDescription {
    display: block;
    margin-top: 50%;
    height: 35%;
    padding: 0 15px;
    text-align: justify;
    font-size: 0.8rem;
    color: var(--mainColor);

    transition: all 0.5s;
  }
  .reposItems:hover .projectLinguagens {
    display: flex;
    height: 15%;
    margin-bottom: 15px;
    justify-content: space-around;
    font-size: 0.8rem;
    color: var(--mainColor);
    transition: all 0.5s;
  }
  .reposItems:hover .projectLinguagem:hover {
    font-weight: 900;
    cursor: default;
  }
  .projectOpen:hover {
    background-color: var(--tittleColor);
  }
  .projectsRepos a:hover {
    background-color: var(--tittleColor);
    color: var(--backgroundColor);
    transition: all 0.5s;
  }
}

@media screen and (max-width: 480px) {
  .repositorios{
    min-width: 100%;
    overflow-x: scroll;
  }
  .repositorios > *{
    min-width: 90%;
    margin-right: 15px;
  }.reposItems .projectOpen {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 50%;
  }
  .perfil .githubProfile i {
    transition: all 0.5s;
    opacity: 1;
    color: var(--backgroundColor);
    font-size: 2rem;
  }
  .reposItems .projectOpen i {
    font-size: 50px;

  }
  .reposItems .projectDescription {
    display: block;
    margin-top: 50%;
    height: 35%;
    padding: 0 15px;
    text-align: justify;
    font-size: 0.8rem;
    color: var(--mainColor);

    transition: all 0.5s;
  }
  .reposItems .projectLinguagens {
    display: flex;
    height: 15%;
    margin-bottom: 15px;
    justify-content: space-around;
    font-size: 0.8rem;
    color: var(--mainColor);
    transition: all 0.5s;
  }
}
@media screen and (min-width: 481px) and (max-width: 1250px) {
  .repositorios{
    min-width: 100%;
    overflow-x: scroll;
  }
  .repositorios::-webkit-scrollbar{
    width: 0;
    height: 0;
  }
  .repositorios > *{
    min-width: 47%;
    margin-right: 15px;
  }.reposItems .projectOpen {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 50%;
  }
  .perfil .githubProfile i {
    transition: all 0.5s;
    opacity: 1;
    color: var(--backgroundColor);
    font-size: 2rem;
  }
  .reposItems .projectOpen i {
    font-size: 50px;

  }
  .reposItems .projectDescription {
    display: block;
    margin-top: 45%;
    height: 35%;
    padding: 0 15px;
    text-align: justify;
    font-size: 0.8rem;
    color: var(--mainColor);

    transition: all 0.5s;
  }
  .reposItems .projectLinguagens {
    display: flex;
    height: 15%;
    margin-bottom: 15px;
    justify-content: space-around;
    font-size: 0.8rem;
    color: var(--mainColor);
    transition: all 0.5s;
  }
}