.headerContainer{
    box-sizing: border-box;
    height: 10vh;
    width: 100%;
    display: flex;
    padding: 1rem 0 0.5rem 0;
    justify-content: space-between;
    align-items: center;
}
.iconHeader{
    height: 2rem;
}
.menuHeader .menuItem{
    padding: 10px 20px;
    background-color: transparent;
    margin: 0 10px;
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}
.menuItem:hover{
    color: var(--backgroundColor);
    border-radius: 5px;
    background-color: var(--tittleColor);
}
@media screen and (max-width:480px) {
    .menuHeader{
        display: none;
    }
    .iconHeader{
        margin: 0 auto;
    }
}