.footerContainer {
  scroll-snap-align: start;
  height: 100vh;
  background-color: var(--mainColor); 
  color: var(--backgroundContainerColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.contact{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social{
  display: flex;
  flex-direction: column;
  width: 100px;
}
.social > *{
  color: var(--backgroundContainerColor);
  margin: 10px 0;
}

.btnEmail{
  background-color: var(--mainColor);
  border: none;
  text-align: start;
  padding: 0;
  position: relative;
  cursor: pointer;
  
  transition: all 0.5s;
}
.btnEmail span{
  display: none;
  
  transition: all 0.5s;
}
.workTogether{
  font-size: 4rem;
  width: 300px;
  cursor: default;
}
.copyright{
  font-size: 1rem;
  font-weight: 300;
  cursor: default;
}
@media (hover : hover) {
  .btnEmail:hover span{
    display: flex;
    position: absolute;
    transition: all 0.5s;
  }
  .social > *:hover{
    font-size: 1.1rem;
    font-weight: 900;
    
    transition: all 0.5s;
  }
  .btnEmail:hover span{
    font-size: 0.75rem;
    font-weight: 300;
    
    transition: all 0.5s;
  }
}
@media screen and (max-width:480px) {
  .contact{
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
  .social > *{
    padding: 10px;
  }
  .btnEmail{
    text-align: center;
  }
}